<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="BrightContext" connectionString="Data Source=.;Initial Catalog=Bright;Persist Security Info=True;User ID=sa;Password=851028;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>